<mat-card class="dashboard-card">

    <!-- Header -->
    <div class="card-header">
      <span class="card-title">My Quick Access</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  
    <!-- Grid -->
    <div class="quick-grid">
      <div class="quick-item">
        <mat-icon>payments</mat-icon>
        <span>Initiate Payment</span>
      </div>
  
      <div class="quick-item">
        <mat-icon>sync_alt</mat-icon>
        <span>Initiate Fund Transfer</span>
      </div>
  
      <div class="quick-item">
        <mat-icon>description</mat-icon>
        <span>Initiate Import LC</span>
      </div>
  
      <div class="quick-item">
        <mat-icon>receipt_long</mat-icon>
        <span>Initiate Invoice Repayment</span>
      </div>
  
      <div class="quick-item">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>Initiate Drawdown</span>
      </div>
  
      <div class="quick-item">
        <mat-icon>collections</mat-icon>
        <span>View Collection</span>
      </div>
    </div>
  
  </mat-card>
  