<div class="account-card">
  <div class="header">
    <span class="card-title">Account Balances</span>
  </div>

  <div class="list">
    <div class="row" *ngFor="let item of balances">
      <div class="left">
        <div class="title">{{ item.type }}</div>
        <div class="sub">Acc No: {{ item.accNo }}</div>
      </div>

      <div class="right">
        {{ item.currency }} {{ item.amount | number:'1.0-0' }}
      </div>
    </div>
  </div>

  <div class="footer">
    <a href="#">View All</a>
  </div>
</div>
